aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
decorator==4.4.2
discord.py==1.5.1
flake8==3.8.3
idna==2.9
importlib-metadata==1.6.1
mccabe==0.6.1
multidict==4.7.5
pycodestyle==2.6.0
pyflakes==2.2.0
python-dotenv==0.12.0
PyYAML==5.4
six==1.14.0
tabulate==0.8.7
validators==0.14.2
websockets==8.1
yarl==1.4.2
zipp==3.1.0
