DiscordCredentials:
  BotToken: !ENV ${BOT_TOKEN}
  GuildID: !ENV ${GUILD_ID}

ChannelIDs:
  Queue: !ENV ${QUEUE_ID}
  WaitingRoom: !ENV ${WAITING_ROOM_ID}
  Announcements: !ENV ${ANNOUNCEMENTS_ID}

Roles:
  Admin:
    Name: !ENV ${ADMIN_NAME}
    RoleID: !ENV ${ADMIN_ROLE_ID}
  Student:
    Name: !ENV ${STUDENT_NAME}
    RoleID: !ENV ${STUDENT_ROLE_ID}

BotConfigurations:
  ClassName: !ENV ${CLASS}
  CommandCharacter: ['/', '\']
  HelpMessage: ../configs/help_messages.yaml
  # Left as empty for None for now
  MessageLifetime:

Logging:
  LoggingDir: logs/
  DirectoryCapacity: 5
  Email:
    Smtp_host: !ENV ${SMTP_HOST}
    To: !ENV ${TO}
    Credentials:
      - !ENV ${EMAIL}
      - !ENV ${PASSWORD}